<!-- Sidebar -->
<section id="sidebar">
  <!-- Intro -->
  <section id="intro">
    <a href="#" class="logo"><img src="/images/logo.jpg" alt="" /></a>
    <header>
      <h2>Hikari's AniBlog</h2>
      <p>
        BLOG DÀNH RIÊNG CHO SỞ THÍCH ANIME
      </p>
    </header>
  </section>

  <!-- About -->
  <section class="blurb">
    <h2>MYANIMELIST PROFILE</h2>
    <a href="https://myanimelist.net/profile/minhhikari1994" target="_blank">
      <img class="w-full" src="https://malsignature.com/?/view?username=minhhikari1994&style=normal" alt="" loading="lazy"/>
    </a>
  </section>

  <section class="blurb">
    <h2>HIKARI MELODY YOUTUBE</h2>
  </section>

  <!-- About -->
  <section class="blurb">
    <h2>About</h2>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
    <ul class="actions">
      <li><a href="#" class="button">Learn More</a></li>
    </ul>
  </section>
</section>
