---
import Header from "../components/layout/Header.astro";
import LeftSideBar from "../components/layout/LeftSideBar.astro";
import RightSideMenu from "../components/layout/RightSideMenu.astro";
import LayoutBase from "../components/layout/LayoutBase.astro";
---
<LayoutBase>
  <div id="wrapper">
    <Header />
    <!-- <RightSideMenu /> -->
    <slot />
    <LeftSideBar />
  </div>
</LayoutBase>
