---
import LayoutBase from "../components/layout/LayoutBase.astro";
import Header from "../components/layout/Header.astro";
---
<LayoutBase isBodySingleClass={true}>
  <div id="wrapper">
    <Header />
    <div id="main">
      <article class="post">
        <slot />
      </article>
    </div>
  </div>
</LayoutBase>
